.about-me-container {
    text-align: center;
    padding: 40px;
    background-color: #e5e1e1;
  }
  
  .about-me-container h2 {
    color: #333;
  }
  
  .about-me-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #322b2b;
    margin-top: 20px;
    margin-left: 5%;
    padding: 10px;
    border: 1px solid #fbfafa;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(7, 6, 6, 0.1);
    background-color: rgb(252, 251, 249);
  }